* {
  margin: 0;
  padding: 0;
  font-family: gotham ssm a, gotham ssm b, sans-serif;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: block;
}

body > #root > div {
  height: 100vh;
}

.App {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 286px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  background-color: #ededed;
}

.ui-card {
  z-index: 20;
  position: relative;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  margin: 100px !important;
  padding: 50px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  gap: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 500px;
  max-width: 670px;
  text-align: left;
}

.ui-card .logo {
  height: 35px;
  width: 140px;
  margin-top: 15px !important;
}

.ui-card .container {
  margin-bottom: 20px !important;
  height: 350px;
  padding-bottom: 10px;
}

.ui-card .ui-title-one {
  color: #4c494b;
  font-family: gotham ssm a, gotham ssm b, sans-serif;
  font-weight: bold;
  letter-spacing: -0.045em;
  font-size: 2em;
}

.ui-card .ui-title-sub {
  font-family: gotham ssm a, gotham ssm b, sans-serif;
  color: #948f93;
  font-size: 1em;
  font-weight: 250;
  padding-top: 10px;
}

.ui-card .ui-sign-in-container {
  color: #4c494b;
}

.ui-card .ui-sign-in-container .ui-email-placeholder {
  color: #948f93;
  font-size: 0.85em;
  font-family: gotham ssm a, gotham ssm b, sans-serif;
  font-weight: 300;
  margin-top: 40px !important;
  margin-bottom: 0 !important;
  padding-top: 5px;
}

.ui-card .ui-sign-in-container .ui-input-email {
  border: 1px dotted #ccc;
  border-width: thin;
  border-radius: 0.5em;
  padding: 18px;
  outline: 0;
  resize: none;
  width: 100%;
  margin: 0 auto 10px auto;
  display: inline-block;
}

.ui-card .ui-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.ui-card .ui-checkbox-container .ui-checkbox {
  top: 0;
  left: 0;
  height: 20px;
  width: 25px;
}

.ui-card .ui-checkbox-container .ui-text {
  margin-top: 3px;
  text-indent: 5px;
  font-size: 0.75em;
}

.ui-card .ui-sign-in-button {
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  color: #4c494b;
  border: 1px dotted #ccc;
  border-width: thin;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: gotham ssm a, gotham ssm b, sans-serif;
  width: 107px;
  text-align: left;
  text-indent: 30px;
  font-size: 0.7em;
}

@media (max-width: 1024px) {
  .ui-card {
    position: absolute;
    padding: 75px !important;
    width: 500px;
  }
  .ui-card .logo {
    height: 35px;
    width: 120px;
  }
  .ui-card .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ui-card .container .ui-title-one {
    font-size: 2em;
  }
  .ui-card .container .ui-title-sub {
    font-size: 1em;
  }
  .ui-card .container .ui-sign-in-container {
    margin-top: 5px;
  }
  .ui-card .container .ui-sign-in-container .ui-email-placeholder {
    font-size: 0.8em;
  }
  .ui-card .ui-sign-in-button {
    margin-top: 10px;
  }
  .ui-checkbox-container {
    font-size: 0.92em;
  }
  .ui-checkbox-container .ui-text {
    text-indent: 8px;
  }
}
/*# sourceMappingURL=App.css.map */