@import "./variables";

* {
  margin: 0;
  padding: 0;
  font-family: $font-type;
  background-color: white;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: block;
}

body > #root > div {
  height: 100vh;
}

.App {
  justify-items: center;
  align-items: center;
  min-height: 286px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: grid;
  background-color: #ededed;
}

.ui-card {
  z-index: 20;
  position: relative;
  box-shadow: 0 2px 5px #ccc;
  margin: 100px !important;
  padding: 50px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  gap: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 500px;
  max-width: 670px;
  text-align: left;
  .logo {
    height: 35px;
    width: 140px;
    margin-top: 15px !important;
  }
  .container {
    margin-bottom: 5px;
    height: 350px;
    padding-bottom: 10px;
  }
  .ui-title-one {
    color: $text-colour;
    font-family: $font-type;
    font-weight: bold;
    letter-spacing: -0.045em;
    font-size: 2em;
  }
  .ui-title-sub {
    font-family: $font-type;
    color: #948f93;
    font-size: 1em;
    font-weight: 250;
    padding-top: 10px;
  }
  .ui-sign-in-container {
    color: $text-colour;
    .ui-email-placeholder {
      color: #948f93;
      font-size: 0.85em;
      font-family: $font-type;
      font-weight: 300;
      margin-top: 40px !important;
      margin-bottom: 20px !important;
      padding-top: 5px;
    }
    .ui-input-email {
      border: 1px dotted #ccc;
      border-width: thin;
      border-radius: 0.5em;
      padding: 18px;
      outline: 0;
      resize: none;
      width: 100%;
      margin: 0 auto 10px auto;
      display: inline-block;
    }
  }

  .ui-checkbox-container {
    display: flex;
    margin-bottom: 40px;
    .ui-checkbox {
      top: 0;
      left: 0;
      height: 20px;
      width: 25px;
    }
    .ui-text {
      margin-top: 3px;
      text-indent: 5px;
      font-size: 0.7em;
    }
  }
  .ui-sign-in-button {
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    color: $text-colour;
    border: 1px dotted #ccc;
    border-width: thin;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: $font-type;
    width: 107px;
    text-align: left;
    text-indent: 30px;
    font-size: 0.7em;
  }
}

// Optimisations for phones and tablets
@media (max-width: 1024px) {
  .ui-card {
    position: absolute;
    padding: 75px !important;
    width: 500px;
    .logo {
      height: 30px;
      width: 120px;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .ui-title-one {
        font-size: 2em;
      }
      .ui-title-sub {
        font-size: 1em;
      }
      .ui-sign-in-container {
        .ui-email-placeholder {
          font-size: 0.8em;
        }
      }
    }
    .ui-sign-in-button {
      margin-top: 10px;
    }
  }

  .ui-checkbox-container {
    font-size: 0.92em;
    .ui-text {
      text-indent: 8px;
    }
  }
}
